<br>
<h6 class="text-muted">REVIEW AND UPLOAD FILES</h6><br>


<div *ngIf="isSpinner" fxLayout="column" fxLayoutAlign="center center" class="user-spinner">   
    <mat-spinner color="primary"></mat-spinner><br><br>    
    <h6 class="text-muted">Please Wait A Moment !!!</h6><br>
    
</div>



<div *ngIf="!isMobileViewGlbal && !isSpinner">
    <div fxLayout="row wrap">
        <div fxFlex="100" class="p-1">
            <div class="divider"></div>
            <table  mat-table [dataSource]="appService.Data.cartList" class="mat-elevation-z8"
                    matSort  matSortDirection="asc" matSortDisableClear>

                
                <ng-container matColumnDef="Name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <div style="width: 140px;font-weight: bold;font-size: 12px;text-transform:uppercase;color: #73AD21;text-align: center;"> Name</div>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div style="width: 140px;text-align: center;"> <b> {{element.productName}} </b></div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="UnitPrice">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <div style="width: 80px;font-weight: bold;font-size: 12px;text-transform:uppercase;color: #73AD21;text-align: center;"> Unit Price</div>
                    </th>
                    <td mat-cell *matCellDef="let element"> 
                        <div style="width: 80px;text-align: center;">  {{element.rate}} </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="Quantity">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <div style="width: 80px;font-weight: bold;font-size: 12px;text-transform:uppercase;color: #73AD21;text-align: center;"> Quantity</div>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element.namune != 1" style="width: 80px;text-align: center;">  
                            {{element.quantity}} X {{element.namune}}
                        </div>
                        <div *ngIf="element.namune == 1" style="width: 80px;text-align: center;">  
                            {{element.quantity}}
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="TravelAmount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <div style="width: 100px;font-weight: bold;font-size: 12px;text-transform:uppercase;color: #73AD21;text-align: center;"> Travel Amount</div>
                    </th>
                    <td align="center" mat-cell *matCellDef="let element"> 
                        <div style="width: 100px;text-align: center;">  
                            {{element.travelRate}}
                        </div> 
                    </td>
                </ng-container>

                <ng-container matColumnDef="Total">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <div style="width: 80px;font-weight: bold;font-size: 12px;text-transform:uppercase;color: #73AD21"> Total</div>
                    </th>
                    <td  align="center" mat-cell class="mat-cell1" *matCellDef="let element; let i = index"> 
                        <div style="width: 80px;text-align: center;">  
                            <!--{{ element.travelRate + element.rate * element.namune }}-->
                            {{ element.travelRate + total[element.id + i]}}
                        </div> 
                    </td>
                </ng-container>
                    
                <ng-container matColumnDef="QuotationDetails">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <div style="width: 300px;font-weight: bold;font-size: 12px;text-transform:uppercase;color: #73AD21;text-align: center;"> Quotation Details</div>
                    </th>
                    <td  align="center" mat-cell *matCellDef="let element"> 
<!--                        <div style="width: 300px;text-align: center;" *ngFor="let data of element.orderDetailsArr">
                            
                        </div>-->
                        <div>&nbsp;</div>
                        <ul style="list-style-type:square; color: gray;text-align: left;margin-left: 50px;">
                           <div style="margin: -15px !important;" *ngFor="let list of element.orderDetailsArr">
                               <li *ngIf="list"><p style="font-size: 12px; color: black">{{list}}</p></li>
                           </div>
                        </ul>
                        <div style="margin: -15px !important;">&nbsp;</div>
<!--                        <div style="width: 300px;text-align: center;" *ngFor="let data of element.orderDetailsArr | keyvalue: asIsOrder">
                            <table style="width: 100%; padding: 0px;margin: 0px;font-size: 11px;">
                                <tr>
                                    <td style="width: 20%;color: #FF2E2E;font-weight: bold;text-align: right;" valign="top">{{data.key | uppercase}}</td>
                                    <td style="width: 80%;text-align: left;" valign="top">{{data.value | uppercase}}</td>
                                </tr>
                            </table>
                        </div>-->
                    </td>
                </ng-container>
                    
                <ng-container matColumnDef="FileUpload">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <div style="width: 100px;font-weight: bold;font-size: 12px;text-transform:uppercase;color: #73AD21;text-align: center;"><b>UPLOAD JPEG FILE<div style="color: #FF2E2E">700 DPI ONLY</div></b></div>
                    </th>
                    <td  align="center" mat-cell class="mat-cell1" *matCellDef="let element"> 
                        <div style="width: 100px;text-align:center;" *ngIf="element?.uploadFile?.isFileUploaded">
                            <img width="70" height="80" src="../../../assets/images/others/fileUploaded.jpg" alt=""/>
                        </div>
                         <div style="width: 100px;text-align:center;cursor: pointer;" *ngIf="!element?.uploadFile?.isFileUploaded" (click)="attachFile(element.uploadFile)">
                            <video width="70" height="80" autoplay loop>
                                <source src="../../../assets/images/others/uploadFile.mp4" type="video/mp4" />
                            </video>
                        </div>
                        <div *ngIf="!element?.uploadFile?.isFileUploaded" (click)="attachFile(element.uploadFile)" style="font-size: 12px;color: #73AD21;text-align: center;width: 100px;font-weight: bold;cursor: pointer;">Upload File</div>
                        <!--<div *ngIf="!element?.uploadFile?.isFileUploaded" style="margin-top: -30px;" class="mat-cell text-center"><a *ngIf="!element?.uploadFile?.isFileUploaded" (click)="attachFile(element.uploadFile)" mat-raised-button color="primary">Attach File</a></div>-->
                    </td>
                </ng-container>
                    
<!--                <ng-container matColumnDef="FileUpload">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <div style="width: 100px;font-weight: bold;font-size: 12px;text-transform:uppercase;color: #73AD21;text-align: center;"><b>UPLOAD JPEG FILE<div style="color: #FF2E2E">700 DPI ONLY</div></b></div>
                    </th>
                    <td  align="center" mat-cell class="mat-cell1" *matCellDef="let element"> 
                        <div style="width: 100px;text-align:center;cursor: pointer;" *ngIf="!element?.uploadFile?.isFileUploaded" (click)="uploadFileToDrive(element.uploadFile)">
                            <video width="70" height="80" autoplay loop>
                                <source src="../../../assets/images/others/uploadFile.mp4" type="video/mp4" />
                            </video>
                        </div>
                        <div *ngIf="!element?.uploadFile?.isFileUploaded" (click)="uploadFileToDrive(element.uploadFile)" style="font-size: 12px;color: #73AD21;text-align: center;width: 100px;font-weight: bold;cursor: pointer;">Upload File</div>
                        <div style="width: 100px;text-align:center;" *ngIf="element?.uploadFile?.isFileUploaded">
                            <img width="70" height="80" src="../../../assets/images/others/fileUploaded.jpg" alt=""/>
                        </div>
                        <div *ngIf="element?.uploadFile?.isFileUploaded" style="font-size: 12px;color: #73AD21;text-align: center;width: 100px;font-weight: bold;">File Uploaded</div>
                    </td>
                </ng-container>-->
                    
                <ng-container matColumnDef="getLink">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <div style="width: 100px;font-weight: bold;font-size: 12px;text-transform:uppercase;color: #73AD21;text-align: center;"><b></b></div>
                    </th>
                    <td  align="center" mat-cell class="mat-cell1" *matCellDef="let element"> 
                        <span *ngIf="!element?.uploadFile?.isFileUploaded" style="margin-left: -200px;">OR</span>
                        <div *ngIf="!element?.uploadFile?.isFileUploaded" style="margin-top: -30px;" class="mat-cell text-center"><a *ngIf="!element?.uploadFile?.isFileUploaded" (click)="getFileLink(element.uploadFile)" mat-raised-button color="primary">Upload File Later</a></div>
                    </td>
                </ng-container>
                    
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div class="mat-table review-order-table">
                <div class="mat-row">
                    <div class="mat-cell"></div>
                    <div class="mat-cell"></div>
                    <div class="mat-cell"></div>
                    <div class="mat-cell"></div>
                    <div class="mat-cell"></div>
                    <div class="mat-cell text-right"><b>
                            <div fxLayout="column" fxLayoutAlign="center end" class="grand-total px-1">
                                <span>Order Amount</span>
                                <span *ngIf="!isCustomised">{{deliveryMode}}</span>
                                <span *ngIf="selectedTotalTravelRate != 0" class="text-muted">Travel Amount</span>
                                <span *ngIf="appService.Data.fullOrPartial == 'Partial'">Amount Paid</span>
                                <span *ngIf="appService.Data.fullOrPartial == 'Partial'">Balance Amount</span>
                                <span class="new-price">Grand Total</span>
                            </div></b>        
                    </div>
                    <div class="mat-cell"><b>
                        <div fxLayout="column" fxLayoutAlign="center end" class="grand-total">
                            <span>{{ orderTotal | number : '1.2-2'}}</span>
                            <span *ngIf="!isCustomised">{{ deliveryAmount | number : '1.2-2'}}</span>
                            <span *ngIf="selectedTotalTravelRate != 0" class="text-muted">{{selectedTotalTravelRate | number : '1.2-2'}}</span>
                            <span *ngIf="appService.Data.fullOrPartial == 'Partial'">{{appService.Data.paperAmount | number : '1.2-2'}}</span>
                            <span *ngIf="appService.Data.fullOrPartial == 'Partial'">{{totalAmount - appService.Data.paperAmount | number : '1.2-2'}}</span>
                            <span class="new-price">{{totalAmount | number : '1.2-2'}}</span>
                        </div></b>
                    </div>
                </div>
            </div>
    </div> 
</div>

    <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1"> 
        <a (click)="clearCart()" mat-raised-button color="primary">Place Order</a>       
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class="p-2 text-center"> 
    </div>
</div>

<div *ngIf="isMobileViewGlbal && !isSpinner">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let productItem of appService.Data.cartList">
            <div class="card h-100">
                <p style="background-color: #73AD21; color: white;padding: 5px 10px 5px" class="card-img-top" alt="" *ngIf="productItem?.productName == 'Leaflet/Pamphlate/Flyer/Brochure'" >
                    LEAFLET/BROCHURE
                </p>
                <p style="background-color: #73AD21; color: white; padding: 5px 10px 5px" class="card-img-top" alt="" *ngIf="productItem?.productName == 'Cards Invitation/Wedding/Birthday'">
                    CARDS
                </p>
                <p style="background-color: #73AD21; color: white; padding: 5px 10px 5px" class="card-img-top" alt="" *ngIf="productItem?.productName != 'Leaflet/Pamphlate/Flyer/Brochure' && productItem?.productName != 'Cards Invitation/Wedding/Birthday'">
                    {{productItem?.productName | uppercase}}
                </p>
                <div class="card-body">
                    <div class="card-text" style="font-size: 10px;">
                        <ul style="list-style-type:square; color: gray;text-align: left;">
                           <div style="margin: -15px !important;" *ngFor="let list of productItem.orderDetailsArr">
                               <li *ngIf="list"><p style="font-size: 12px; color: black">{{list}}</p></li>
                           </div>
                        </ul>
                        <div style="font-size: 10px;"><br>
                            <div style="text-align: left;font-weight: bold;">Unit Price: ₹ {{productItem.rate}}/-</div>
                            <div style="text-align: left;font-weight: bold;">Travel Amount: ₹ {{productItem.travelRate}}/-</div>
                            <div style="text-align: left;font-weight: bold;">Total: ₹ {{ productItem.travelRate + productItem.rate * productItem.namune }}/-
                            </div>
                        </div> 
                        <div style="text-align: right;margin-top: -60px;">
                            <div style="cursor: pointer;" *ngIf="!productItem?.uploadFile?.isFileUploaded" (click)="attachFile(productItem.uploadFile)">
                                <video width="50" height="60" autoplay loop>
                                    <source src="../../../assets/images/others/uploadFile.mp4" type="video/mp4" />
                                </video>
                            </div>
                            <div *ngIf="!productItem?.uploadFile?.isFileUploaded" (click)="attachFile(productItem.uploadFile)" style="font-size: 12px;color: #73AD21;font-weight: bold;cursor: pointer;">Upload File</div>
                            <div *ngIf="productItem?.uploadFile?.isFileUploaded">
                                <img width="50" height="60" src="../../../assets/images/others/fileUploaded.jpg" alt=""/>
                            </div>
                            <div *ngIf="productItem?.uploadFile?.isFileUploaded" style="font-size: 12px;color: #73AD21;font-weight: bold;">File Uploaded</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
        <div>
            <div class="mat-cell text-right"><b>
                <div fxLayout="column" fxLayoutAlign="center end" class="grand-total px-1">
                    <span>Order Amount: ₹ {{ orderTotal | number : '1.2-2'}}/-</span>
                    <span *ngIf="!isCustomised">{{deliveryMode}}:&nbsp; ₹ {{ deliveryAmount | number : '1.2-2'}}/-</span>
                    <span *ngIf="selectedTotalTravelRate != 0" class="text-muted">Travel Amount:&nbsp; ₹  {{selectedTotalTravelRate | number : '1.2-2'}}/-</span>
                    <span *ngIf="appService.Data.fullOrPartial == 'Partial'">Amount Paid:&nbsp; ₹ {{appService.Data.paperAmount | number : '1.2-2'}}/-</span>
                    <span *ngIf="appService.Data.fullOrPartial == 'Partial'">Balance Amount:&nbsp; ₹  {{totalAmount - appService.Data.paperAmount | number : '1.2-2'}}/-</span>
                    <span class="new-price">Grand Total:&nbsp; ₹ {{totalAmount | number : '1.2-2'}}</span>
                </div></b>        
            </div>
        </div>
    <footer style="position: fixed;z-index: 999;top: 88%;width: 100%;padding: 10px;text-align: center;">
        <div class="mat-cell" style="display: inline-block;"><a (click)="clearCart()" mat-raised-button color="primary">Place Order</a></div>
    </footer>
</div>
