<br>
<h4>REFUND POLICY</h4><br>
<ul>
    <li>
        We at Aaryan Cards strive to provide the best possible experience while you shop with us online. There is no option to return orders as the goods are customized according to your specific needs and designs, and are non-usable by anyone else.However, if at all there is a Manufacturing defect, complete assistance would be given to you for correcting the same.
    </li><br>
    <li>
        In order to get your order delivered to you soon, we process the orders same day. As long as your order has not been processed, we can cancel it and refund your amount.
    </li><br>
    <li>
        Please get in touch with our customer support team on below mentioned email or phone number to cancel your order.
    </li><br>
    <li>
        You are requested to immediately email at <span style="color: #73AD21;font-weight: bold;">admin@aaryancards.com</span> or call at <span style="color: #73AD21;font-weight: bold;">8605003000</span> along with your order number for any cancellations to be made.
    </li><br>
    <li>
        Your orders can also be cancelled if Aaryan Cards team finds your payments have not been received. Check below for further details:
    </li><br>
    <li>
        Non receipt of Payment- In case the payment for the order is not made Aaryan Cards will automatically cancel the order. An email notification is sent to you when we cancel the order.
    </li><br>
    <li>
        For any other queries, all you need is to drop a call at <span style="color: #73AD21;font-weight: bold;">8605003000</span> or you can drop an email at <span style="color: #73AD21;font-weight: bold;">admin@aaryancards.com</span>
    </li><br>
    <li>
        In case of refund of duplicate payment - Please mail on  <span style="color: #73AD21;font-weight: bold;">aaryanaccnts@gmail.com</span> Transaction ID, Date of Transaction, Amount and details of Account Number with IFSC code (Photo of Cheque or passbook mandatory) were you wish to credit the amount.  Your payment will be refunded in maximum 2 working days once all details as required are shared by you. In case of any further help please call on Customer Care No. <span style="color: #73AD21;font-weight: bold;">8605003000</span>.
    </li>
</ul>