#cart:hover {
    background-color:#73AD21;
    color:white;
    border-color:#73AD21;
}

#favorite:hover {
    background-color:#73AD21;
    color:white;
    border-color:#73AD21;
}

#buy:hover {
    background-color:#73AD21;
    color:white;
    border-color:#73AD21;
}